@model List<MyMangoDbAjaxProject.Dal.Entities.MainHome>

@{
    int count =0;
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MongoLayout.cshtml";
}


<br />
<br />
<br />
<div class="container">
    <table class="table table-hover">
        <tr>
            <th>Sıra</th>
            <th>#</th>
            <th>Ad Soyad</th>
            <th>Unvan</th>
            <th>Resim</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.MainHomeID</td>
                <td>@item.NameSurname</td>
                <td>@item.Unvan</td>
                <td>@item.ImageUrl</td>
                <td><a href="/MainHome/DeleteMainHome/@item.MainHomeID" class="btn btn-danger">Sil</a></td>
                <td><a href="/MainHome/UpdateMainHome/@item.MainHomeID" class="btn btn-danger">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/MainHome/CreateMainHome" class="btn btn-primary">Yeni Ana Sayfa öğesi Girişi</a>
</div>